html{font-size:1em}
h1{font-size:2.5rem}
h2{font-size:2rem}
h3{font-size:1.8rem}
body{margin:0;text-align:center}
.c90{width:90%;}
.ml5{margin-left:5%;}
#pizza{
width: 256px;
height:230px;
margin: 0 auto;
background: url(../img/pizza.jpg);
}
#layers{
width: 256px;
height:230px;
margin: 0 auto;
background: url(../img/layers.png) 0 -230px;
}

#fitin{
	height:70px;
	margin-bottom: 15px;
}
#fitin h1{
	margin:0;
	}
#ruler{
	max-width:800px;
	min-width:300px;
	margin-bottom: -5rem;
}
#highlight{
	position:absolute;
	background:rgba(0,0,255,0.3);
	top:85px;
}
.inlineb{
	display: inline-block;
	padding:0 2px;
}
@media screen and (max-width: 670px) {
	html {
		font-size:.85em
	}
}
@media screen and (max-width: 550px) {
	html {
		font-size:.7em
	}
}
@media screen and (max-width: 500px) {
	#ruler {
		margin-bottom: 0 !important;
	}
	
	h3{
		margin: 8px;
		font-size:1.5rem
	}
}